{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "react/prefer-stateless-function": false,
    "react/jsx-filename-extension": false,
    "no-use-before-define": 0,
    "jsx-a11y/href-no-hash": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "printWidth": 120
      }
    ],
    "linebreak-style": ["error", "unix"]
  }
}
